<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->
<p class="my-button">
  <a>Primary</a>
</p>

<p class="my-button-secondary">
  <a>Secondary</a>
</p>

<p class="my-button-success">
  <a>Success</a>
</p>

<p class="btn btn-danger">
  <a>Danger</a>
</p>

<br>

<p class="btn btn-warning">
  <a>Warning</a>
</p>

<br>

<p class="btn btn-info">
  <a>Info</a>
</p>


<p>Less intrusive variants:</p>

<p class="btn btn-outline-primary">
  <a>Primary (unobtrusive)</a>
</p>

<p class="btn btn-outline-secondary">
  <a>Secondary (unobtrusive)</a>
</p>

<p class="btn btn-outline-success">
  <a>Success (unobtrusive)</a>
</p>

<p class="btn btn-outline-danger">
  <a>Danger (unobtrusive)</a>
</p>

<p class="btn btn-outline-warning">
  <a>Warning (unobtrusive)</a>
</p>

<p class="btn btn-outline-info">
  <a>Info (unobtrusive)</a>
</p>
