
<!-- Add utility classes and/or elements as needed to achieve the target appearance. -->
<div class="grid gap-3 row-gap-3">

<div class="p-2 g-col-6">
  <a href="/">Table of contents</a>
</div>

<hr>

<div class="d-flex justify-content-around p-2 g-col-6">
  <span class="p-3 mb-2 bg-primary text-white">First</span><span class="p-3 mb-2 bg-success text-white">Second</span><span class="p-3 mb-2 bg-danger text-white">Third</span>
</div>

<hr>

<div class="d-flex justify-content-between p-2 g-col-6">
  <span>Inbox</span><span class="bg-danger text-white rounded">42</span>
</div>

<hr>

<div class="lh-lg text-end p-3 mb-2 bg-light-subtle border border-end-0 border-top-0 border-bottom-0 border-info shadow p-3 mb-5 bg-body-tertiary w-25 p-3 p-2 g-col-6">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ad debitis iste minima molestiae repellat magni? Voluptas, odit voluptate quasi esse ea iure quibusdam error at architecto veritatis, beatae nihil?
</div>


</div>
